name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          persist-credentials: true

   - name: Generate snake SVG
  uses: Platane/snk/svg-only@v3
  with:
    github_user_name: nivedh-j
    palette: "#000000,#00FF00,#15803d,#22c55e,#4ade80"
    outputs: dist/snake.svg

      - name: Commit changes
        uses: EndBug/add-and-commit@v9
        with:
          author_name: github-actions
          author_email: github-actions@github.com
          message: "update snake.svg"
          add: "dist/snake.svg"
